


<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">COMP229 Webpage</h6>
    <h6 class="display-6 navbar-text">&copy; Copyright 2022. All Rights reserved.</h6>
  </nav>

<!-- Script Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>



</body>

</html>

