<!DOCTYPE html>

<head>
    <title>
        <%= PageTitle %>
    </title>
    <link type="text/css" rel="stylesheet" href="CSS/common.navigation.css">
    <link type="text/css" rel="stylesheet" href="CSS/common.theme.css">
</head>