<!DOCTYPE html>

<head>
    <title>
        <%= PageTitle %>
    </title>
    <link type="text/css" rel="stylesheet" href="CSS/Navbar.css">
    <link type="text/css" rel="stylesheet" href="CSS/Theme.css">
</head>