<!DOCTYPE html>

<head>
    <title>
        <%= PageTitle %>
    </title>
    <link type="text/css" rel="stylesheet" href="CSS/common.navigation.css">
    <link type="text/css" rel="stylesheet" href="CSS/common.theme.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
</head>