<head>
    <title>
        <%= PageTitle %>
    </title>
<<<<<<< HEAD
    <link type="text/css" rel="stylesheet" href="/CSS/Navbar.css">
    <!-- <link type="text/css" rel="stylesheet" href="/CSS/Theme.css"> -->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
=======
    <link type="text/css" rel="stylesheet" href="/CSS/Theme.css">
    <link type="text/css" rel="stylesheet" href="/CSS/Navbar.css">

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
>>>>>>> dev
</head>