<!DOCTYPE html>

<%- include('Partials/Header.ejs') %>

    <body>
        <%- include('Partials/Navbar.ejs') %>

        <div class="wrapper">
            <div class="main-text">
                <div class="incident-image">
                    <img src="/Img/Gear.png" class="gear">
                </div>
                <div class="frame-basic-text">
                    <p>Welcome to the Power Ranger's Incident ticket system</p>
                    <p2>Access the ticket system by clicking the button in the top navigation</p2>
                </div>
            </div>
        </div>
    </body>

    </html>