*,
*::before,
*::after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: rgb(92, 95, 92);
    padding-left: 30vw;
    padding-right: 10vw;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    border-style: solid;
    border-color: rgb(24, 198, 242);
    border-radius: 25px;
    background-color: blue;
    margin-right: 1vw;
    margin-left: 2vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.nav-item a {
    display: flex;
    padding: 1vw 3vw;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    background-color: white;
    transform: scale(1.1);
    transition: all 1s;
}

.nav-item:hover a {
    color: darkgreen;
}

.logo img {
    width: 100px;
    vertical-align: middle;
}