
  *, *::before, *::after {
    box-sizing:content-box;
    margin: 0;
    padding: 0;
  }
  

  nav {
    width: 100%;
    background-color: rgb(92, 95, 92);
    padding-left: 30px;
    padding-right: 10px;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: inline-flex;
  }
  
  .nav-links {
    display: flex;
    justify-content:center;
    list-style: none;
  }
  
  .nav-item {
    border-style: solid;
    border-color: rgb(24, 198, 241);
    border-radius: 25px;
    background-color: blue;
    margin-right:60px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .nav-item a {
    display: flex;
    padding: 10px 70px;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    background-color: white;
    transform:scale(1.1);
    transition: all 1s;
  }
  
  .nav-item:hover a {
    color: darkgreen;
  }
  
  .logo img {
    width: 100px;
    vertical-align:middle;
  }